<form id="srch" name="search" class="booking-form">
<div class="search-form">
<div class="container-fluid">
<div class="row">
<div class="inputs col-lg-12 col-lg-offset-1 col-md-offset-1 col-sm-11 col-sm-offset-1">
<div class="search-header">{{headerMessage}}</div>
<div class="col-lg-3 col-md-11 col-sm-11 form-group search-form-item">
<div class="search-form-label">{{autocomplete_label}}</div>
<!-- Angucomplete -->
<div class="location">
<div angucomplete-alt 
 input-name="loc"
 id="place"
 placeholder="{{autocmplt_placeholder}}"
 selected-object="searchStr"
 remote-url="{{hostIp}}"
 title-field="name_lt"
 description-field="nomos"
 minlength="3"
 field-required-class="location"
 field-required="true"
 pause="400"
input-class="form-control form-control-small"></div>
</div>
</div>
<!-- Date Range Picker -->
<div class="col-lg-3 col-md-4 col-sm-4 form-group search-form-item">
<div class="search-form-label">{{datepicker_label}}</div>
<div class="ob-datepicker-container">
<ob-daterangepicker
 ng-class="{'up': opts.dropsUp}"
 class="{{opts.opens}}"
 min-day="opts.min"
 range = "opts.range"
 linked-calendars="opts.linked"
 on-apply="opts.rangeApplied(start, end)"
 format="opts.format"
 week-start="opts.weekStart"
 auto-apply="opts.autoApply"
 calendars-always-on="opts.calendarsAlwaysOn">
</ob-daterangepicker>
</div>
</div>
<!-- Persons -->
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 form-group">
<div class="search-form-inline-input col-lg-5 col-md-6 col-sm-6 col-xs-6">
<div class="search-form-label">{{adults_label}}</div>
<input type="number" min="1" max="10" ng-model="adults" class="form-control search-form-input-number">
</div>
<div class="search-form-inline-input col-lg-5 col-md-6 col-sm-6 col-xs-6">
<div class="search-form-label">{{children_label}}</div>
<input type="number" min="1" max="4" ng-model="children" class="form-control search-form-input-number">
</div>
</div>
</div>
</div>
</div>
<div class="form-group search-form-item children-ages col-lg-12 text-center">
<div class="search-form-label" ng-if="children>0">{{ages_label}}</div>
<div class="search-form-age-input-div" ng-repeat="child in numberOf(children)">
<input type="number" min="0" max="17" ng-model="childrenAges[$index]" class="search-form-age-input form-control">
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="form-group text-center">
<div class="search-button btn btn-warning" ng-click="search(false)"> {{search_btn_label}} </div>
</div>
</div>
</div>
</div>
</form>